<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${article.id}"></td>
            <td th:text="${article.title}"></td>
            <td th:text="${article.content}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{'/articles/' + ${article.id} + '/edit'}" class="btn btn-primary">Edit</a>
    <a th:href="@{'/articles/' + ${article.id} + '/delete'}" class="btn btn-danger">Delete</a>

    <a href="/articles/">목록으로 돌아가기</a>

    <div th:replace="comments/comments :: comments" />

    <div th:replace="fragments/footer :: footer" />
</div>

</body>
</html>